body
{
    background-color:grey;
}
.page
{
    width:780px;
    margin:auto;
    font-family:'Source sans Pro',Calibri,Tahoma,sans-serif;
    font-size:16px;
    border: 5px solid #3388CC;
    border-radius: 10px;
    box-shadow:2px 3px 4px black;
    padding:20px;
    background-color:white;
}

.infophoto
{
    height:250px;
}

.info
{
float:left;
}

.photo
{
float:right;
}

.section
{
    margin-bottom:70px;
    text-align:justify;
}
.section:hover
{
    color: #00AA00;
}

.sec-gauche
{
    float:left;
    font-weight: bold;
    font-size:20px;
    margin-right:100px;
}

.sec-droite
{
    margin-left:320px;
    margin-top:43px
}

h2
{
font-size:28px;
color: #3388BB;
border-bottom: 3px solid #3388DD;
}

.duree
{
    font-weight:normal;
    font-style:italic;
    font-size:16px;
}

.titre
{
    font-weight:bold;
    font-size:20px;
}

#forma-gauche p
{
    margin-bottom:35px;
}

#exp-gauche p
{
    margin-top:20px;
}

#lang-droite-sub p
{
    margin-top:50px;
}

#lang-droite 
{
    line-height:25px;
}

#esperienza-droite
{
    margin-bottom:40px;
}

strong
{
    font-size:28px;
}